* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
/* #area-cv {
  margin: 20px;
} */
.container {
  position: relative;
  width: 100%;
  max-width: 1065px;
  min-height: 1000px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 4.4px 6.3px rgba(0, 0, 0, 0.035),
    0px 35px 50px rgba(0, 0, 0, 0.07);
}
#left_side {
  position: relative;
  background-color: #003147;
  padding: 40px;
}

/* Perfil */
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 252, 0.2);
}
.btnDownload {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.btnDownload img {
  width: 20.5px;
  height: 20.5px;
}
.profileText__imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText__imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 20px;
  text-align: center;
}
.profileText span {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
}

/* Contacto */
.contactInfo {
  padding-top: 40px;
}
.contactInfo__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul {
  position: relative;
}
.contactInfo li {
  position: relative;
  list-style: none;
  margin-bottom: 14px;
  cursor: pointer;
}
.contactInfo__icon {
  display: inline-flex;
  width: 30px;
  vertical-align: middle;
}
.contactInfo__icon img {
  width: 18.5px;
}
.contactInfo__text {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

/* Educacion  */
.education li {
  margin-bottom: 20px;
}
.education h5 {
  color: #03a9f4;
  font-weight: 500;
}
.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}
.education h4 {
  color: #fff;
  font-weight: 300;
}

/* Idiomas */
.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #081921;
  display: block;
  margin-top: 5px;
}
.percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}

#right_side {
  position: relative;
  background-color: #fff;
  padding: 40px;
}
/* Acerca */
.about {
  margin-bottom: 50px;
}
.about:last-child {
  margin-bottom: 0;
}
.about__title {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
p {
  color: #333;
}
.box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.year_company {
  min-width: 150px;
}
.year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.about .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

/* Habilidades */
.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}
.skills .box div {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}
.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}
.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03a9f4;
}

/* Intereses */
.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.interest li {
  list-style-type: none;
  font-weight: 500;
  color: #333;
  margin: 10px 0;
}
.interest img {
  display: inline-flex;
  width: 19px;
  margin-right: 7px;
  vertical-align: middle;
}

@media (max-width: 1182px) {
  body {
    padding: 0;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .box {
    flex-direction: column;
  }
  .year_company {
    margin-bottom: 5px;
  }
  .interest ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
